* {
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    transition: .4s;
}

body {
    font-family: 'Poppins', sans-serif;
}

#header {
    padding: 25px 0;
    -webkit-box-shadow: 1px 4px 23px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 4px 23px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 4px 23px -5px rgba(34, 60, 80, 0.2);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white {
    font-family: 'Poppins', sans-serif;
    background: white;
    transition: .4s;
}

.dark {
    background: #1F2E35;
    font-family: 'Poppins', sans-serif;
    transition: .4s;
}

.zagolovokOne h1 {
    color: #173A56;
    font-size: 30px;
    font-weight: 700;
    padding-left: 16px;
}

.zagolovokOne {
    display: flex;
}

.zagolovok a {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.zagolovok ion-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #F3F3F3;
    color: #02897A;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnOne {
    padding: 15px 25px;
    color: #173A56;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    margin: 0 10px;
    text-decoration: none;
}

.btnOne:hover {
    scale: 1.1;

}

.btnThree {
    width: 32px;
    height: 32px;
    background: #F3F3F3;
    border-radius: 50%;
    color: #02897A;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}

.zagolovok {
    display: flex;
    align-items: center;
}

.zagolovokOne {
    display: flex;
}

.btnTwo {
    padding: 15px 25px;
    border-radius: 5px;
    background: #02897A;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.btnTwo:hover {
    scale: 1.1;
}

.zagolovok a:hover {
    text-decoration-line: underline;
    color: #2d4e68;
}

.zagolovok a {
    padding: 0 5px;
}


.our-clients h1 {
    color: #22343D;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 100px 0 50px 0;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}