* {
    padding: 0;
    margin: 0;
}


.container {
    width: 90%;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    transition: .4s;
}

.white {
    font-family: 'Poppins', sans-serif;
    background: white;
    transition: .4s;
}

.dark {
    background: #1F2E35;
    font-family: 'Poppins', sans-serif;
    transition: .4s;
}

#header {
    padding: 25px 0;
    -webkit-box-shadow: 1px 4px 23px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 4px 23px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 4px 23px -5px rgba(34, 60, 80, 0.2);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zagolovokOne h1 {
    color: #173A56;
    font-size: 30px;
    font-weight: 700;
    padding-left: 16px;
}

.dark .zagolovokOne h1,
.dark .zagolovok a,
.dark .work h1,
.dark .work p,
.dark .product h1,
.dark .box1 h3,
.dark .box1 p,
.dark .box2 h3,
.dark .box2 p,
.dark .box3 h3,
.dark .box3 p,
.dark .box4 h3,
.dark .box4 p,
.dark .space h3,
.dark .space h1,
.dark .space p,
.dark .support h3,
.dark .support h1,
.dark .support p,
.dark .blok1 h6,
.dark .blok2 h6,
.dark .blok3 h6,
.dark .collab1 h3,
.dark .collab1 h1,
.dark .collab1 p,
.dark .collab1 h4,
.dark .quick h1,
.dark .quick h6,
.dark .contents h1,
.dark .contents p,
.dark .price h1,
.dark .price p,
.dark .clients h1,
.dark .clients p,
.dark .resurse h3,
.dark .resurse p,
.dark .legal h3,
.dark .legal p,
.dark .knowing h2,
.dark .h6

{
    color: white;
}

.zagolovokOne {
    display: flex;
}

.zagolovok a {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.btnOne {
    padding: 15px 25px;
    color: #173A56;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    margin: 0 10px;
}

.btnOne:hover {
    scale: 1.1;

}

.btnTwo {
    padding: 15px 25px;
    border-radius: 5px;
    background: #02897A;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.btnTwo:hover {
    scale: 1.1;
}

.btnThree {
    width: 32px;
    height: 32px;
    background: #F3F3F3;
    border-radius: 50%;
    color: #02897A;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}

.zagolovok {
    display: flex;
    align-items: center;
}

.zagolovok a:hover {
    text-decoration-line: underline;
    color: #2d4e68;
}

.zagolovok a {
    padding: 0 5px;
}

.work h1 {
    width: 518px;
    color: #22343D;
    font-size: 40px;
    font-weight: 700;
}

.work p {
    width: 458px;
    height: 95px;
    color: #22343D;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 18px 0 45px 0;
}

.btn1 {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background: #02897A;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.workTwo a ion-icon {
    font-size: 30px;
    color: #02897A;
}

.workTwo a {
    color: #02897A;
    font-size: 16px;
    font-weight: 600;
    text-decoration-line: underline;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.workTwo {
    display: flex;
}

.work {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-photo {
    width: 45%;
}

#work {
    padding: 60px 0px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product h1 {
    width: 500px;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}

.click h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
}

.click p {
    width: 240px;
    height: 52px;
    top: 46px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #22343D;
}

.click {
    padding: 66px 0 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product {
    background: url(img/phon.png) no-repeat bottom/cover;
    padding: 60px 0;
}

.box1 {
    padding-right: 57.91px 0 46px 0;
}

.button1 {
    padding: 15px 25px;
    border-radius: 4px;
    background: #02897A;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.button1:hover {
    border-radius: 4px;
    border: 1px solid #02897A;
    scale: 1.1;
    background-color: #fff;
    color: #02897A;
}

.space h3 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.space h1 {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
}

.space p {
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 23px 0;
}

.management {
    display: flex;
    padding: 169px 0;
    justify-content: space-between;
    align-items: center;
}

.img-photo2 {
    padding-left: 84px 0;
    width: 45%;
}

.support h3 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.support h1 {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
}

.customers p {
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 23px 0;
}

.support h6 {
    width: 365px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0;
}

.customers {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;

}



.blok1 {
    display: flex;
}

.blok2 {
    display: flex;
}

.blok3 {
    display: flex;
}

.blok1 img {
    padding-right: 30px;
}

.blok2 img {
    padding-right: 30px;
}

.blok3 img {
    padding-right: 30px;
}

.collab1 h3 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.collab1 h1 {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
}

.collab1 p {
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 23px 0 30px 0;
}

.collab1 h4 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.img-22 {
    width: 45%;
}

.collab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collab img {
    width: 45%;
}

#collab {
    padding: 168px 0;
}

#quick {
    background: url(img/ikons.png)no-repeat bottom/cover;

}

.quick h1 {
    color: #22343D;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    padding: 52.54px 0;
}

.quick h6 {
    width: 542px;
    color: #22343D;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0 auto;
}

.iconic p {
    width: 274px;
    height: 53px;
    border-radius: 26.5px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.10);
    color: #2F281E;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 10px 0;

}

.ikons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn4 {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background: #02897A;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
}

.quick {
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents h1 {
    color: #22343D;
    font-size: 34px;
    font-weight: 700;
    padding: 150.46px 0 8px 0;
}

.contents p {
    width: 693px;
    color: #22343D;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 8px 0 33px 0;
}

.swiper-slide h6 {
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.swiper-slide:hover>h2 {
    color: #02897A;
    scale: 1.0;
    transition: .4s;
}

.swiper-slide h2 {
    width: 294px;
    height: 70px;
    color: #22343D;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.swiper-slide {
    border-radius: 8px;
    background: #FFF;
    width: 348px;
    height: 359px;
    flex-shrink: 0;
    border: 2px solid #d7d1d1;
}

#price {
    padding: 60px 0;
}

.price h1 {
    color: #22343D;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.price p {
    color: #22343D;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 8px 0 50px 0;
}

.oneBlock h3 {
    color: #22343D;
    font-size: 24px;
    font-weight: 700;
}

.oneBlock h6 {
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
}

.dollar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dollar h2 {
    color: #02897A;
    /* text-align: center; */
    font-size: 76px;
    font-weight: 700;
}

.dollar h4 {
    color: #02897A;
    font-size: 24px;
    font-weight: 700;
}

.btn-block {
    padding: 11px 19px 11px 18px;
    border-radius: 8px;
    background: #02897A;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.oneBlock h5 {
    flex-shrink: 0;
    color: var(--second-text, #AFAFAF);
    font-size: 16px;
    font-weight: 400;
}

.oneBlock {
    width: 32%;
    height: 456px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.threeblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oneBlock:hover {
    background: #02897A;
    transition: 0.4s;
    cursor: pointer;
}

.oneBlock:hover>.dollar h2,
.oneBlock:hover>.dollar div h4,
.oneBlock:hover>.dollar div h5,
.oneBlock:hover>h3,
.oneBlock:hover>h6 {
    color: #fff;
}

.oneBlock:hover>button {
    background: #FFF;
    color: #02897A;
}

.clients h1 {
    color: #22343D;
    font-size: 34px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin: 0 auto;
}

.clients {
    display: flex;
    flex-direction: column;
}

.clients p {
    color: #22343D;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
    justify-content: center;
    padding: 8px 0 50px 0;
}

.blokOne h5 {
    color: var(--second-text-color, #737373);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 16px 0;
}

.ikonn {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.ikonn h3 {
    color: #02897A;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.ikonn h6 {
    color: var(--text-color, #252B42);
    font-size: 14px;
    font-weight: 500;
}

.otzyv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star ion-icon {
    color: #F3CD03;
}

.blokOne {
    padding: 20px;
    width: 28%;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background: var(--light-background, #FFF);
}

.join-block h1 {
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 15px;
}

.join-block button {
    color: #02897A;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FFF;
    padding: 15px 25px;
}

#join {
    padding: 70px 0;
}

.join-block-text {
    padding-left: 20px;
}

.join-block {
    height: 345px;
    width: 90%;
    border-radius: 32px;
    background: #02897A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.join {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-between;

}

.resurse h3 {
    color: #22343D;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.resurse p {
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

.legal h3 {
    color: #22343D;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.legal p {
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

.knowing h2 {
    width: 280px;
    height: 57px;
    color: #22343D;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.knowing input {
    width: 325px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    background: #FFF;
    margin: 34px 0 21px 0;
}

.btn-55 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    width: 131px;
    height: 39px;
    border-radius: 4px;
    background: #02897A;
}

.h6 {
    width: 394px;
    height: 31px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
    padding: 37px 0;
}

.ikonki {
    padding: 16.2px 0;
}

.knowing {
    display: flex;
    flex-direction: column;
}